<div class="container mt-3">

  <div class="row mt-5">
    <div class="col">
      
      <h2>Projeto Sub</h2>
      <form>
        
        <!-- Número 1 -->
        <div class="form-group">
          <label>Número 1</label>
          <input #numero1 type="text" class="form-control" placeholder="0">
        </div>

        <!-- Número 2 -->
        <div class="form-group">
          <label>Número 2</label>
          <input #numero2 type="text" class="form-control" placeholder="0">
        </div>

        <!-- Resultado -->
        <div class="form-group">
          <label>Resultado</label>
          <input type="text" class="form-control" placeholder="0" [value]="resultado"  readonly>
        </div>

        <input type="button" class="btn btn-primary" (click)="sub(numero1.value, numero2.value)" value="Caclular">
        <button type="submit" class="btn btn-default ml-2">Limpar</button>
        
      </form>

    </div>
  </div>
</div>